<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <style>
      .form-container {
        text-align: center;
        width: 25%;
      }
      body {
        display: flex;
        flex: 1;
        justify-content: center;
        padding: 10%;
      }
      #Header {
        font-size: 40px;
      }
      .bg {
        background-color: rgba(148, 148, 148, 0.062);
      }
      .inp-wid {
        width: 50%;
      }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div class="form-container bg">
    <br/>
    <p id="Header">Login</p>
    <br/>
     <div>
      <form action="admin" method="POST">
        <div>
          <input placeholder="E-mail" class="input inp-wid" type="text" name="email">
        </div>
        <br/>
        <div>
          <input placeholder="Password" class="input inp-wid" type="password" name="pwd">
        </div>
        <br/>
        <div>
          <button class="button is-primary">Submit</button>
        </div>
      </form>
     </div>
    </div>
  </body>
</html>