<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">   
</head>
<style>
    .Container {
        display: flex;
        flex: 1;
        justify-content: center;
        text-align: center;
    }
    #login {
        text-align: center;
    }
</style>
<body>

    <div class="Container">
        <div><h2>Please Login First</h2></div>
        
        
        
        

    </div>
    <br/>
    <div id="login" ><a class="button is-primary" href="/">Login</a></div>
</body>

</html>