@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10%;
    background-color: #005cb2;
}
.Header {
    text-align: center;
}
.Container {
background-color: yellow;
}

.Section-Container {
    margin-right: 10%;
    margin-left: 10%;
    color: whitesmoke;
}
#Blog-Head {
padding-top: 5%;
padding-bottom: 5%;
    text-align: center;
    font-size: 2.5vw;
}

#intro {
    font-size: 18px;
    padding: 4%;
}

article {
    margin-right: 10%;
    margin-left: 10%;
    width: 45%;
    color: whitesmoke;
}

#article-center {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
img {
    max-width: 500px;
    max-height: 400px;
}
.fig{
display: flex;
justify-content: center;

}
figcaption {
    display: block;
  }

  #script-zone {

    text-align: center;
  }